.hero{
    background-color: #2E2F42 ;
}
.hero-tittle{
   color: #FFFFFF; 
   font-weight: 700;
   font-size: 56px;
   line-height: 60px;
   text-align: center;
   font-weight: 700;
   font-style: bold;
}
.hero-btn{
    background-color:#4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}